@-webkit-keyframes zoomInCenter {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes zoomInCenter {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes sticky {
  from {
    opacity: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes sticky {
  from {
    opacity: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes animInUp {
  from {
    -webkit-transform: translateY(10%) scale(0.98);
            transform: translateY(10%) scale(0.98);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes animInUp {
  from {
    -webkit-transform: translateY(10%) scale(0.98);
            transform: translateY(10%) scale(0.98);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.animInUp {
  -webkit-animation-name: animInUp;
  animation-name: animInUp;
}

.zoomInCenter {
  -webkit-animation: zoomInCenter 0.3s ease;
          animation: zoomInCenter 0.3s ease;
}

.zoomIn {
  -webkit-animation: zoomIn 0.3s ease;
          animation: zoomIn 0.3s ease;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-BlackItalic.woff2") format("woff2"), url("../font-text/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Bold.woff2") format("woff2"), url("../font-text/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Black.woff2") format("woff2"), url("../font-text/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-BoldItalic.woff2") format("woff2"), url("../font-text/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-ExtraBold.woff2") format("woff2"), url("../font-text/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../font-text/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Italic.woff2") format("woff2"), url("../font-text/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Medium.woff2") format("woff2"), url("../font-text/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-MediumItalic.woff2") format("woff2"), url("../font-text/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Regular.woff2") format("woff2"), url("../font-text/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-SemiBold.woff2") format("woff2"), url("../font-text/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../font-text/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-ThinItalic.woff2") format("woff2"), url("../font-text/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font-text/Montserrat-Thin.woff2") format("woff2"), url("../font-text/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Typography */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}
h4 small {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}
h5._sm {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}
h6._sm {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.8em;
}
p._lg {
  font-size: 16px;
}

:root {
  height: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

body {
  height: 100%;
  cursor: default;
  font-size: 14px;
  color: #fff;
  line-height: 1.7em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background: #090113;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.active {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img,
svg {
  pointer-events: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding-top: 160px;
}

.autoContainer {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 60px;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9em 1.4em;
  border: 1px solid transparent;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.button--primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#733dff), to(#892bff));
  background: linear-gradient(to top, #733dff, #892bff);
  color: #fff;
  border-radius: 0.625em;
  background-size: 200% 100%;
  background-position: 50%;
}
.button--primary:hover {
  opacity: 0.8;
  background-position: 80%;
}
.button--secondary {
  font-size: 14px;
  border-radius: 0.625em;
  padding: 0.74em 1.5em;
  position: relative;
  background-size: 200% 100%;
  background-position: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4d0ef0), to(#650dd3));
  background: linear-gradient(to top, #4d0ef0, #650dd3);
  min-width: 135px;
}
.button--secondary .text {
  position: relative;
  z-index: 2;
}
.button--secondary::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#4d0ef0), to(#650dd3));
  background: linear-gradient(to top, #4d0ef0, #650dd3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
}
.button--secondary:hover {
  opacity: 0.8;
  background-position: 80%;
}
.button--text {
  padding: 0.9em 1.2em;
  border-radius: 0.625em;
}
.button--text._primary {
  color: #882bff;
}
.button--text._lg {
  padding: unset;
  color: #882bff;
  font-size: 18px;
  font-weight: 800;
}
.button--text:hover {
  border-color: #fff;
}
.button--text:hover._primary {
  border-color: transparent;
  color: #ff50a3;
}
.button--text:hover._lg {
  border-color: transparent;
  color: #ff50a3;
}
.button--ico {
  padding: unset;
  position: relative;
  height: 20px;
}
.button--ico .ico {
  height: 100%;
}
.button--ico img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.button--ico._lg {
  height: 22px;
}
.button--ico:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.button--border {
  font-size: 22px;
  border-radius: 0.45em;
  border: 3px solid #882bff;
  color: #882bff;
  padding: 0.47em 0.8em;
  position: relative;
}
.button--border::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #882bff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: inherit;
  opacity: 0;
}
.button--border:hover::after {
  opacity: 0.3;
}
.button--bg {
  font-size: 14px;
  padding: 0.9em 1.2em;
  border-radius: 0.625em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  font-weight: 800 !important;
}
.button--bg span {
  position: relative;
  z-index: 2;
}
.button--bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
.button--bg.active {
  color: #882bff;
}
.button--bg.active::before {
  opacity: 1;
}
.button--bg._fiil {
  color: #882bff;
}
.button--bg._fiil::before {
  opacity: 1;
}
.button--bg:hover {
  border-color: #882bff;
}
.button--bg:hover::before {
  background-color: #882bff;
  opacity: 0.25;
}
.button:active {
  opacity: 0.7;
}
.button:disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.button__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 10px;
  width: 100%;
  margin: 5px 0;
}
.button__group .button {
  white-space: nowrap;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 20px;
}
.input input,
.input textarea, .input__selected {
  padding: 1.2em 1.9em;
  border-radius: 2em;
  width: 100%;
  background-color: #fff;
  border: 2px solid #fff;
  resize: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #090113;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder, .input__selected::-webkit-input-placeholder {
  color: rgba(9, 1, 19, 0.4);
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder, .input__selected::-moz-placeholder {
  color: rgba(9, 1, 19, 0.4);
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder, .input__selected:-ms-input-placeholder {
  color: rgba(9, 1, 19, 0.4);
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder, .input__selected::-ms-input-placeholder {
  color: rgba(9, 1, 19, 0.4);
}
.input input::placeholder,
.input textarea::placeholder, .input__selected::placeholder {
  color: rgba(9, 1, 19, 0.4);
}
.input input:focus,
.input textarea:focus {
  border-color: rgba(9, 1, 19, 0.8);
}
.input--primary input {
  background: #fff;
  border-color: rgba(9, 1, 19, 0.06);
  -webkit-box-shadow: 0px 1em 1.3em rgba(9, 1, 19, 0.22);
          box-shadow: 0px 1em 1.3em rgba(9, 1, 19, 0.22);
  border-radius: 25;
}
.input--underline input,
.input--underline textarea, .input--underline__selected {
  padding: 1em 0.2em;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #fff;
}
.input--select {
  position: relative;
  min-width: 130px;
}
.input--select .input__selected {
  cursor: pointer;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.input--select .input__selected:hover {
  opacity: 0.8;
  border-color: rgba(9, 1, 19, 0.8);
}
.input--select .input__selected:after {
  color: inherit;
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 1.2em;
  width: 0;
  height: 0;
  border-bottom: 6px solid currentColor;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.input--select .input__dropdown {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid transparent;
  color: #090113;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 0 0 2em 2em;
  border-top: unset;
  -webkit-transition: max-height 0.3s ease, border-color 0s ease 0.3s, opacity 0.1s ease 0.2s;
  transition: max-height 0.3s ease, border-color 0s ease 0.3s, opacity 0.1s ease 0.2s;
  scrollbar-width: none;
  /* Firefox 64 */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
  z-index: 1;
}
.input--select .input__dropdown::-webkit-scrollbar {
  /** WebKit */
  display: none;
}
.input--select .input__dropdown-item {
  cursor: pointer;
  padding: 0.4em 1em;
  border-top: 1px solid rgba(9, 1, 19, 0.1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.input--select .input__dropdown-item:hover {
  background: #fff;
}
.input--select .input__dropdown-item:first-child {
  border-top: unset;
}
.input--select .input__dropdown-item strong {
  color: #090113;
  font-weight: 500;
  pointer-events: none;
}
.input--select .input__dropdown-item p {
  pointer-events: none;
}
.input--select.active .input__selected {
  color: #090113;
  border-radius: 2em 2em 0 0;
  border-bottom: 1px solid rgba(9, 1, 19, 0.1);
  border-color: #090113;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.input--select.active .input__selected:after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input--select.active .input__dropdown {
  top: 100%;
  max-height: 30vh;
  overflow-y: auto;
  border-color: #090113;
  opacity: 1;
  padding: 0.5em 0 1em 0;
  -webkit-transition: max-height 0.4s ease, opacity 0.2s ease;
  transition: max-height 0.4s ease, opacity 0.2s ease;
}
.input--buttonRight {
  position: relative;
}
.input--buttonRight input {
  padding-right: 3em;
}
.input--buttonRight .button {
  position: absolute;
  font-size: inherit;
  top: 50%;
  right: 0.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input--buttonRight._wideButton input {
  padding-right: 8em;
}
.input--buttonRight._wideButton .button {
  width: 7em;
}

.ratioImage {
  position: relative;
  padding-bottom: 59%;
  width: 100%;
}
.ratioImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ratioImage--contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

.badge {
  border-radius: 100px;
  padding: 0.3em 0.5em;
  color: #090113;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 18px;
  z-index: 0;
}
.checkbox input {
  width: 1em;
  height: 1em;
  z-index: 1;
  font-size: inherit;
  opacity: 0;
}
.checkbox input:checked + span::before {
  border-color: #090113;
}
.checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkbox span::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #090113;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.checkbox span::before {
  content: "";
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  width: 0.25em;
  height: 0.5em;
  border-bottom: 1.5px solid rgba(9, 1, 19, 0.2);
  border-right: 1.5px solid rgba(9, 1, 19, 0.2);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.checkbox__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__outer label {
  color: #090113;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 0.7em;
}
.checkbox__outer label a {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  text-decoration: underline;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.checkbox__outer label a:hover {
  opacity: 0.6;
}

.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;
}
.custIcon--left::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background: transparent;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
          transform: translate(-25%, -50%) rotate(45deg);
}
.custIcon--rtArr:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background: transparent;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.custIcon--rtArr::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.custIcon--right::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background: transparent;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
          transform: translate(-75%, -50%) rotate(45deg);
}
.custIcon--up::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-bottom: 5px solid #7b8a8a;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custIcon--down::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-top: 5px solid #7b8a8a;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custIcon--cross:before, .custIcon--cross:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #090113;
}
.custIcon--cross:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.custIcon--cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.custIcon--tick {
  margin-right: 5px;
}
.custIcon--tick:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  height: 80%;
  border-bottom: 2px solid #090113;
  border-right: 2px solid #090113;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.custIcon--dots {
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #090113;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.custIcon--dots:before, .custIcon--dots:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: inherit;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.custIcon--dots:before {
  left: calc(100% + 0.75em);
}
.custIcon--dots:after {
  right: calc(100% + 0.75em);
}
.custIcon--dots.active {
  width: 4.5em;
  border-radius: 2px;
}
.custIcon--dots.active:before, .custIcon--dots.active:after {
  opacity: 0;
}
.custIcon--rounded {
  font-size: inherit;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #882bff;
}
.custIcon--rounded:after {
  top: 45%;
  width: 25%;
  height: 50%;
  border-color: #090113;
}

.noBreak {
  white-space: nowrap;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20vh;
}
.spinner div {
  position: absolute;
  border: 4px solid rgba(136, 43, 255, 0.6);
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.footer {
  margin-top: auto;
  padding: 40px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer__inner-copy {
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 5;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, transform, padding;
  transition-property: opacity, transform, padding, -webkit-transform;
}
.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  z-index: 2;
}
.header__inner-logo {
  width: 235px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__inner-logo .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__inner-logo .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__inner-logo:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.header__inner .burger {
  display: none;
}
.header.sticky {
  position: fixed;
  padding: 15px 0;
  -webkit-animation: 0.3s sticky ease-in;
          animation: 0.3s sticky ease-in;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #090113;
  border-bottom: 2px solid #882bff;
}
.header.sticky .header__inner-logo {
  width: 180px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__inner-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: #882bff;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.burger span, .burger::after, .burger::before {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 0.32em;
  background-color: currentColor;
  border-radius: 0.4em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger span {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.burger::before {
  content: "";
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger::after {
  content: "";
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger:hover {
  opacity: 0.8;
}
.burger.active {
  color: #882bff;
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}
.burger.active span {
  width: 0;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.grid {
  font-size: 30px;
}
.grid__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.grid__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 1em;
}
.gridItem {
  width: calc(33.3% - 0.66em);
  border-radius: 0.66em;
  border: 3px solid #882bff;
  overflow: hidden;
}
.gridItem__image {
  position: relative;
}
.gridItem__image .ratioImage {
  overflow: hidden;
}
.gridItem__image-date {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.gridItem__image-date .date {
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px 7px;
  background: #351024;
}
.gridItem__image-info {
  font-weight: 500;
  background: #882bff;
  padding: 4px 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.gridItem__info {
  padding: 15px 26px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.gridItem__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  margin-top: 0.3em;
}
.gridItem__info-title {
  padding: 10px 0 5px;
}
.gridItem__info-subtitle {
  font-weight: 500;
}
.gridItem__info-text {
  line-height: 1.55em;
  margin: 5px 0;
}
.gridItem__info-text:not(._full) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gridItem__info .button--secondary {
  font-weight: 800;
}
.gridItem:not(._modal) .gridItem__info-title {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.gridItem:not(._modal) .gridItem__info-title:hover {
  color: #882bff !important;
}
.gridItem:not(._modal) .gridItem__image {
  cursor: pointer;
}
.gridItem:not(._modal) .gridItem__image img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.gridItem:not(._modal) .gridItem__image:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gridItem._modal {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
.gridItem._modal .gridItem__image .close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}
.gridItem._modal .gridItem__image .close:before, .gridItem._modal .gridItem__image .close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background: currentColor;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.gridItem._modal .gridItem__image .close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.gridItem._modal .gridItem__image .close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.gridItem._modal .gridItem__image .close:hover {
  color: #882bff;
}
.gridItem._modal .gridItem__info {
  background: #fff;
}
.gridItem._modal .gridItem__info-box {
  color: #090113;
}
.gridItem._modal .gridItem__info-title {
  color: #090113;
}
.gridItem._modal .gridItem__info-subtitle {
  color: #090113;
}
.gridItem._modal .gridItem__info-text {
  color: #090113;
  text-align: justify;
}
.gridItem._modal .gridItem__info .button--bg {
  border-color: #882bff;
}
.gridItem._modal .gridItem__info .button--bg::before {
  background-color: #882bff;
  opacity: 0;
}
.gridItem._modal .gridItem__info .button--bg:hover::before {
  opacity: 0.1;
}
.gridAdvertsiment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  margin-top: 10px;
}
.gridAdvertsiment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 40px 0;
  position: relative;
}
.gridAdvertsiment__container-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  border-radius: 20px;
}
.gridAdvertsiment__container-image {
  width: 25%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gridAdvertsiment__container-image._right {
  left: unset;
  right: 0;
}
.gridAdvertsiment__container-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gridAdvertsiment__container-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.gridAdvertsiment__container-group .button {
  padding: 0.7em 0.9em;
}
.gridAdvertsiment__container-group .button--text {
  padding: 0.7em 0.5em;
}
.gridAdvertsiment__container h2 {
  color: #882bff;
  text-align: center;
}
.gridAdvertsiment__container p {
  color: #4b5563;
  width: 70%;
  max-width: 620px;
  text-align: center;
  line-height: 1.4em;
}
.gridAdvertsiment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.gridAdvertsiment__box .button--primary {
  font-size: 22px;
  padding: 0.5em 1.1em;
  border-radius: 0.45em;
}
.gridAdvertsiment__box .button--border {
  font-size: 22px;
}
.grid h3 {
  text-align: center;
}

.popUp {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.popUp__inner {
  width: 100%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}
.popUp__inner-item {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: auto;
  -webkit-animation: 0.3s ease fadeInUp;
          animation: 0.3s ease fadeInUp;
}
.popUp__inner-item.active {
  opacity: 1;
  pointer-events: all;
}
.popUp.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price {
  margin: auto 0;
}
.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.price__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  text-align: center;
}
.price__inner-box h3 {
  color: #882bff;
}
.price__inner-box p {
  color: #4b5563;
}
.price__inner-content {
  padding: 40px 30px 35px;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.price__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.priceItem {
  font-size: 15px;
  width: calc(25% - 10px);
  max-width: 245px;
  background: #ebebeb;
  border-radius: 0.66em;
  padding: 25px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.priceItem__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.priceItem__header h4 {
  color: #4b5563;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.priceItem__header h5 {
  color: #882bff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.priceItem__header h6 {
  color: #4b5563;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.priceItem .list {
  margin-bottom: auto;
}
.priceItem .button {
  margin-top: 5px;
  width: 100%;
  padding: 0.9em 1.5em;
  border-radius: 10px;
  border: unset;
  position: relative;
}
.priceItem .button .text {
  position: relative;
  z-index: 2;
}
.priceItem .button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#cbcccc), to(#ffffff));
  background: linear-gradient(to top, #cbcccc, #ffffff);
  border-radius: inherit;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.priceItem:hover {
  background: #882bff;
}
.priceItem:hover .button--secondary {
  color: #882bff;
  background: transparent;
}
.priceItem:hover .button--secondary:after {
  opacity: 1;
}
.priceItem:hover .list__item {
  color: #fff;
}
.priceItem:hover .list__item .ico img {
  display: none;
}
.priceItem:hover .list__item .ico img:nth-child(2) {
  display: block;
}
.priceItem:hover .priceItem__header h4,
.priceItem:hover .priceItem__header h5,
.priceItem:hover .priceItem__header h6 {
  color: #fff;
}
.price h3 {
  text-align: center;
}
.price .autoContainer {
  max-width: 1230px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.list__item {
  padding: 12px 5px;
  border-bottom: 1px solid #dddbdb;
  color: #4b5563;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.list__item:last-child {
  border: unset;
}
.list__item .ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.list__item .ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.list__item .ico img:nth-child(2) {
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.collapse {
  display: none;
  -webkit-animation: 0.3s collapse ease-out;
          animation: 0.3s collapse ease-out;
}
.collapse.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 35px;
  }

  .button--secondary {
    padding: 0.7em 1em;
    min-width: 110px;
  }

  .nav .button {
    font-size: 14px;
  }

  .grid {
    font-size: 20px;
  }
  .gridItem__info {
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .autoContainer {
    padding: 0 30px;
  }

  .main {
    padding-top: 120px;
  }

  .button {
    font-size: 14px;
  }
  .button__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    max-width: 140px;
    margin: 0 auto;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  p._lg {
    font-size: 14px;
  }

  .header {
    padding: 20px 0;
  }
  .header__inner-logo {
    width: 190px;
  }

  .grid {
    font-size: 15px;
  }
  .gridAdvertsiment__container p {
    width: 55%;
  }
  .gridAdvertsiment__box .button--primary {
    font-size: 20px;
  }
  .gridAdvertsiment__box .button--border {
    font-size: 20px;
  }

  .price__inner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 15px;
  }
  .priceItem {
    width: calc(33.3% - 15px);
    max-width: 290px;
  }
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }

  h2 {
    font-size: 35px;
  }

  .main {
    padding-top: 90px;
  }

  .button__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: unset;
    gap: 10px;
  }

  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__inner-logo {
    width: 160px;
  }
  .header__inner .burger {
    display: block;
    z-index: 2;
  }
  .header__inner .button {
    width: 100%;
  }
  .header.sticky .header__inner-logo {
    width: 150px;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 1, 19, 0.4);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
  }
  .nav__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    min-width: 254px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #090113;
    -webkit-box-shadow: 0px 4px 24px -1px rgba(9, 1, 19, 0.2);
            box-shadow: 0px 4px 24px -1px rgba(9, 1, 19, 0.2);
    padding: 50px 25px;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
    -webkit-transition: 0.15s ease-in-out 0s;
    transition: 0.15s ease-in-out 0s;
    border: 1px solid #882bff;
    border-left: unset;
  }
  .nav__inner-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 0;
    gap: 20px;
    color: #090113;
    border-top: 1px solid #fff;
    width: 100%;
  }
  .nav__inner-group:first-child {
    border: 0;
  }
  .nav.active {
    pointer-events: all;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .nav.active .nav__inner {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out 0.05s;
    transition: 0.3s ease-in-out 0.05s;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .nav .button {
    font-size: 16px;
  }

  .grid__inner-row {
    gap: 25px 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gridItem {
    width: calc(50% - 10px);
    max-width: 390px;
  }

  .priceItem {
    width: calc(33.3% - 10px);
  }
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }

  .footer {
    padding: 30px 0;
  }

  .gridAdvertsiment__container-image {
    top: 0;
    -webkit-transform: unset;
            transform: unset;
  }
  .gridAdvertsiment__container-image._right {
    top: unset;
    bottom: 0;
  }
  .gridAdvertsiment__container p {
    width: 70%;
  }
  .gridAdvertsiment__container-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridAdvertsiment__container-group .button {
    width: calc(50% - 10px);
    max-width: 180px;
  }
  .gridAdvertsiment__box .button {
    font-size: 18px;
  }

  .price__inner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .priceItem {
    width: calc(50% - 12px);
  }
}
@media (max-width: 650px) {
  .button {
    font-weight: 500;
  }
  .button__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 140px;
    gap: 12px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  .gridItem {
    width: calc(50% - 8px);
  }
  .gridAdvertsiment__container {
    padding: 30px 10px;
    gap: 15px;
  }
  .gridAdvertsiment__container p {
    width: 80%;
  }
  .gridAdvertsiment__box .button {
    font-size: 16px;
  }

  .price__inner-row {
    gap: 20px 15px;
  }
  .price__inner-content {
    padding: 30px 20px 25px;
  }
  .priceItem {
    width: calc(50% - 10px);
  }
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }

  .button__group {
    max-width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }

  .header__inner-logo {
    width: 130px;
  }
  .header.sticky .header__inner-logo {
    width: 100px;
  }

  .nav__inner {
    padding: 40px 20px;
  }

  .burger {
    width: 20px;
    height: 14px;
  }
  .burger span, .burger::after, .burger::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    border-radius: 0.4em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .grid__inner {
    gap: 30px;
  }
  .gridItem {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .gridItem__info {
    padding: 15px 20px;
  }

  .price__inner {
    gap: 30px;
  }
  .price__inner-content {
    padding: 30px 15px 25px;
  }
  .priceItem__header {
    gap: 10px;
  }
  .priceItem .list__item {
    padding: 10px 5px;
  }
}
@media (max-width: 460px) {
  .footer {
    padding: 20px 0;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer__inner-copy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }

  .grid {
    padding-bottom: 30px;
  }
  .gridAdvertsiment {
    gap: 20px;
  }
  .gridAdvertsiment__container {
    padding: 40px 10px;
  }
  .gridAdvertsiment__container p {
    width: 100%;
  }
  .gridAdvertsiment__container-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .gridAdvertsiment__container-group .button {
    width: 100%;
  }
  .gridAdvertsiment__box {
    gap: 10px;
  }
  .gridItem__info {
    padding: 10px 20px;
  }
  .gridItem._modal .gridItem__info {
    padding: 10px 15px;
  }

  .price {
    padding-bottom: 30px;
  }
  .priceItem {
    width: 100%;
    max-width: 340px;
  }
  .priceItem .list__item {
    padding: 10px 5px;
  }
}
@media (max-width: 390px) {
  .button {
    font-weight: 500;
  }
  .button__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    max-width: 140px;
  }
}