$primary: #882bff;
$secondary: #1da1f2;
$black: #090113;
$white: #fff;
$white-2: #ebebeb;
$white-3: #dddbdb;
$gray: #4b5563;
$gray-2: #969696;
$line: 2;
$red: #ff50a3;
$gradient-1: linear-gradient(to top, #733dff, #892bff);
$gradient-2: linear-gradient(to top, #4d0ef0, #650dd3);
$gradient-3: linear-gradient(to top, #cbcccc, #ffffff);
$font-primary: "Montserrat", sans-serif;
