$primary: #882bff;
$secondary: #1da1f2;
$black: #090113;
$white: #fff;
$gray: #4b5563;
$gradient-1: linear-gradient(to top, #733dff, #892bff);
$gradient-2: linear-gradient(to top, #4d0ef0, #650dd3);
$font-primary: "Montserrat", sans-serif;
