@media (max-width: 1280px) {
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 35px;
  }
  @include components-1160;
  @include header-1160;
  @include index-1160;
}
@media (max-width: 1024px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include components-1024;
  @include typography-1024;
  @include header-1024;
  @include index-1024;
}

@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include typography-940;
  @include components-940;
  @include header-940;
  @include index-940;

}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
  @include components-768;
  @include footer-768;
  @include index-768;
}
@media (max-width: 650px) {
  @include components-650;
  @include typography-650;
  @include index-650;
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
  @include components-580;
  @include header-580;
  @include index-580;
}
@media (max-width: 460px) {
  @include footer-460;
  @include index-460;
}
@media (max-width: 390px) {
  @include components-390;
}